<!DOCTYPE html>
<html>
    <head>
        <title>Single Cat view</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> 
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../public/assets/css/style.css">    
    </head>

    <body>
        <!-- Editable table -->
 <div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Cat View</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x"
              aria-hidden="true"></i></a></span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr id="days-of-the-week">
            <th class="text-center">Sunday</th>
            <th class="text-center">Monday</th>
            <th class="text-center">Tuesday</th>
            <th class="text-center">Wednesday</th>
            <th class="text-center">Thursday</th>
            <th class="text-center">Friday</th>
            <th class="text-center">Saturday</th>
          </tr>
          <tr id="meal-content">
            <td class="pt-3-half" contenteditable="true" id="meal-content-1"></td>
            <td class="pt-3-half" contenteditable="true" id="meal-content-2"></td>
            <td class="pt-3-half" contenteditable="true" id="meal-content-3"></td>
            <td class="pt-3-half" contenteditable="true" id="meal-content-4"></td>
            <td class="pt-3-half" contenteditable="true" id="meal-content-5"></td>
            <td class="pt-3-half" contenteditable="true" id="meal-content-6"></td>
            <td class="pt-3-half" contenteditable="true" id="meal-content-7"></td>
          </tr>
          <tr id="meal-score">
            <td class="pt-3-half" contenteditable="true" id="meal-score-1"></td>
            <td class="pt-3-half" contenteditable="true" id="meal-score-2"></td>
            <td class="pt-3-half" contenteditable="true" id="meal-score-3"></td>
            <td class="pt-3-half" contenteditable="true" id="meal-score-4"></td>
            <td class="pt-3-half" contenteditable="true" id="meal-score-5"></td>
            <td class="pt-3-half" contenteditable="true" id="meal-score-6"></td>
            <td class="pt-3-half" contenteditable="true" id="meal-score-7"></td>
          </tr>
          <tr id="weight">
            <td class="pt-3-half" contenteditable="true" id="weight-1"></td>
            <td class="pt-3-half" contenteditable="true" id="weight-2"></td>
            <td class="pt-3-half" contenteditable="true" id="weight-3"></td>
            <td class="pt-3-half" contenteditable="true" id="weight-4"></td>
            <td class="pt-3-half" contenteditable="true" id="weight-5"></td>
            <td class="pt-3-half" contenteditable="true" id="weight-6"></td>
            <td class="pt-3-half" contenteditable="true" id="weight-7"></td>
          </tr>
          
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span id="cat-name"></span>
      </div>
      <div class="col-md-6">
        <span id="cat-location"></span>
      </div>
    </div>
  <div class="row">
    <div class="col"><h2>Sunday</h2></div>
    <div class="col"><h2>Monday</h2></div>
    <div class="col"><h2>Tuesday</h2></div>
    <div class="col"><h2>Wednesday</h2></div>
    <div class="col"><h2>Thursday</h2></div>
    <div class="col"><h2>Friday</h2></div>
    <div class="col"><h2>Saturday</h2></div>
  </div>
  <div class="row">
    <div class="col">
      <span id="meal-content-1"></span>
    </div>
    <div class="col">
      <span id="meal-content-2"></span>
    </div>
    <div class="col">
      <span id="meal-content-3"></span>
    </div>
    <div class="col">
      <span id="meal-content-4"></span>
    </div>
    <div class="col">
      <span id="meal-content-5"></span>
    </div>
    <div class="col">
      <span id="meal-content-6"></span>
    </div>
    <div class="col">
      <span id="meal-content-7"></span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span id="meal-score-1"></span>
    </div>
    <div class="col">
      <span id="meal-score-2"></span>
    </div>
    <div class="col">
      <span id="meal-score-3"></span>
    </div>
    <div class="col">
      <span id="meal-score-4"></span>
    </div>
    <div class="col">
      <span id="meal-score-5"></span>
    </div>
    <div class="col">
      <span id="meal-score-6"></span>
    </div>
    <div class="col">
      <span id="meal-score-7"></span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span id="weight-1"></span>
    </div>
    <div class="col">
      <span id="weight-2"></span>
    </div>
    <div class="col">
      <span id="weight-3"></span>
    </div>
    <div class="col">
      <span id="weight-4"></span>
    </div>
    <div class="col">
      <span id="weight-5"></span>
    </div>
    <div class="col">
      <span id="weight-6"></span>
    </div>
    <div class="col">
      <span id="weight-7"></span>
    </div>
  </div>
</div>
    </body>
</html>