<h1>Cat Diet Tracker</h1>

<h2>Current Residents:</h2>
<ul>
  {{#each cats}}
    {{> cats/cat-block}}
  {{/each}}
</ul>

<h2>Check-in (add) a Cat</h2>
<form class="add-cat">

  <div class="form-group">
    <label for="cat-name">Cat Name:</label>
    <input type="text" id="cat-name" name="cat-name">
  </div>

  <div class="form-group">
    <label for="cat-weight">Cat Starting Weight:</label>
    <input type="text" id="cat-weight" name="cat-weight">
  </div>

  <div class="form-group">
    <label for="cat-notes">Cat Notes:</label><br>
    <textarea name="cat-notes" id="cat-notes" rows="8" cols="30" placeholder="notes:"></textarea>
  </div>

  <div class="form-group">
    <label for="cat-location-room">Cat Location - Room #:</label>
    <input type="text" id="cat-location-room" name="cat-location-room">
  </div>

  <div class="form-group">
    <label for="cat-location-kennel">Cat Location - Kennel #:</label>
    <input type="text" id="cat-location-kennel" name="cat-location-kennel">
  </div>

  <button type="submit">Add Cat</button>
</form>
